{{#extends 'base'}}

    {{#block "title"}}Home{{/block}}

    {{#block "content"}}
        <div class="container">
            <h1>Welcome to my home page!</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quisquam iusto omnis nam modi ex, asperiores
                quod? Libero qui facilis natus. Repellat ipsam rem labore ipsa exercitationem temporibus odit soluta.</p>
        </div>
    {{/block}}

{{/extends}}

