{{#extends 'base'}}

{{#block "title"}}Create Sighting{{/block}}

{{#block "content"}}
    <form method="POST">
        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="floatingInput" name="description" placeholder="Enter Description">
            <label for="floatingInput">Enter Description</label>
        </div>
        <div class="form-floating mt-3">
            <input type="text" class="form-control" id="floatingInput" name="food" placeholder="Enter Food (seperated by comma)">
            <label for="floatingInput">Enter Food (seperated by comma)</label>
        </div>
        <div class="mt-4">
            <label class="form-label fw-bold ">Date/Time</label>
            <input type="datetime-local" class="form-control" name="datetime"/>
        </div>

        <input type="submit" class="btn btn-primary mt-4"/>
    </form>
{{/block}}

{{/extends}}